.no-posts{
    color: rgb(179, 174, 174);
    font-size: 2rem;
    font-family: "Sans-serif";
    margin: auto;
    
}
.content-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 10px;
}
.new-post{
    margin-left: auto;
}
.post-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px;
    width: 95%;
    margin: auto;
}
@media screen and (min-width: 340px) and (max-width: 768px) {
  .post-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    width: 95%;
  }    
}
@media screen and (min-width: 768px) and  (max-width: 1024px) {
  .post-list{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    width: 95%;
  }    
}


.new-post button{
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #bcece8;
    border-radius: 15px;
    border: none;
    padding: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 2);
}
.new-post button:hover{
    background-color: #0f8585;
    color: aliceblue;
}
.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  .modal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
  }

  .affirmation-modal-container{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;

  }
  .affirmation-modal{
    position: relative;
    background: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    z-index: 1;
    width: 50%;
    border: solid 3px #17a323;
    font-weight: bold;
    font-size: larger;
  }

  .affirmation-modal-overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
  }
  .categories-filter:hover{
    background-color: #bcece8;
    color: rgb(37, 37, 37);
  }
  .categories-filter-label{
    font-weight: 500;
  }
  .categories-filter{
    
    margin-left: 5px;
    padding: 2px;
    border-radius: 8px;
    background-color: #065f5f;
    color: white;
  }
  .categories-filter-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
  }
  .modal {
    position: relative;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    z-index: 1;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .modal select{
    font-size: medium;
    padding: 2px;
  }
  .form-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  
  .modal form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .modal form label {
    margin-bottom: 5px;
    font-weight: bold;
    font-size: larger;
    text-align: start;
  }
  
  .modal form input,
  .modal form textarea {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: large;
  }
  
  .modal form button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .modal form button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    margin-bottom: 10px;
  }
  
  .modal form button[type="button"] {
    background-color: #f44336;
    color: white;
  }
